body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 150px;
}

header p {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
} 


.hero {
    flex: 0 1 425px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 150px;

    background-color: #152937;
    color: #e5e7eb;
}

.text {
    flex: 0 1 475px;
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 900;
    color: #f9faf8;
}

.text p {
    margin: 20px 0;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    flex: 0 1 475px;
    height: 225px;
    background-color: grey;
}

.text button {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    color: #e5e7eb;
    font-weight: 900;
}