body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 150px;
}

header p {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
} 



.hero {
    flex: 0 1 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 150px;

    background-color: #152937;
    color: #e5e7eb;
}

.text {
    flex: 0 1 475px;
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 900;
    color: #f9faf8;
}

.text p {
    margin: 20px 0;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    flex: 0 1 475px;
    height: 225px;
    background-color: grey;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    color: #e5e7eb;
    font-weight: 900;
}



.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 250px;
    flex: 0 1 400px;

}

.random-info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images {
    display: flex;
    flex-direction: row;

    /* padding: 0 100px; */
    gap: 40px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.image-square {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 8px;

}

.image-square p {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}



.quote {
    padding: 50px 350px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.speaker {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}



.call-to-action {
    padding: 50px 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-container {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3882f6;
    color: white;
    flex: 1;
    border-radius: 8px;
}

.call-container button {
    border: 2px solid white;
}



footer {
    background-color: #152937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}